.cart {
  position: sticky;
  top: 0%;
  padding: 25px;
}
.cart h5 {
  margin-top: 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: justify;
}
.btn-container {
  margin-top: 25px;
}

.cart-btn:nth-child(1) {
  background-color: #ff3030;
}

.cart-btn:nth-child(2) {
  background-color: #ff9900;
}

.cart-btn {
  border: none;
  color: #fff;
  font-size: 17px;
  padding: 20px;
  margin: 15px 0;
  width: 75%;
  font-weight: 700;
  cursor: pointer;
}
.fa-icon {
  margin-left: 10px;
}
.cart-btn:hover {
  background-color: rgba(242, 242, 242, 0.84);
  color: black;
}
